html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color-scheme: light dark; /* Tells browser to use system colors for UI */
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: Canvas;
    color: CanvasText;
    overflow: hidden;
}

main {
    display: flex;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

main::-webkit-scrollbar {
    display: none;
}

button {
    padding: 0.5em 1em;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #3498db;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

button:disabled {
    filter: opacity(80%);
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    filter: brightness(80%);
}

.controls,
.camera-wrapper {
    scroll-snap-align: start;
    flex-shrink: 0;
}

.camera-wrapper {
    position: relative;
    width: 100vw;
    height: 100%;
    background: black;
}

.camera {
    width: 100%;
    height: 100%;
}

.playback-info,
.capture {
    position: absolute;
    left: 50%;
    z-index: 1;
    text-align: center;
}

.playback-info {
    display: none;
    top: 50%;
    transform: translate(-50%, -50%);
}

.playback-info.show {
    display: block;
}

.capture {
    bottom: 2rem;
    transform: translateX(-50%);
    width: 3rem;
    aspect-ratio: 1;
    background: red;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.capture:disabled {
    filter: opacity(50%);
}

.capture:hover:not(:disabled) {
    filter: brightness(80%);
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: calc(100vw - 2rem);
    height: calc(100% - 2rem);
    gap: 1rem;
    padding: 1rem;
}

@media (min-width: 1024px) {
    main {
        width: 100vw;
        scroll-snap-type: none;
    }

    .camera-wrapper,
    .controls {
        scroll-snap-align: none;
        height: auto;
    }

    .camera-wrapper {
        width: 50%;
    }

    .controls {
        width: calc(50% - 2rem);
        margin: 1rem;
        padding: 0;
    }
}

.result {
    width: calc(100% - 16px);
    min-height: 3em;
    border: 1px solid CanvasText;
    white-space: pre-wrap;
    font-family: Consolas, monospace;
    font-size: 1.1em;
    border-radius: 4px;
    padding: 8px;
}
