html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    overflow: hidden;
}

main {
    display: flex;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

main::-webkit-scrollbar {
    display: none;
}

.controls,
.camera {
    scroll-snap-align: start;
    flex-shrink: 0;
}

.camera {
    width: 100vw;
    height: 100%;
    background: #000000;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: calc(100vw - 2rem);
    height: calc(100% - 2rem);
    gap: 1rem;
    padding: 1rem;
}

@media (min-width: 1024px) {
    main {
        width: 100vw;
        scroll-snap-type: none;
    }

    .camera,
    .controls {
        scroll-snap-align: none;
        height: auto;
    }

    .camera {
        width: 50%;
    }

    .controls {
        width: calc(50% - 2rem);
        margin: 1rem;
        padding: 0;
    }
}

.result {
    width: 100%;
    min-height: 3em;
    border: 1px solid #fafafa;
    white-space: pre-wrap;
    font-family: Consolas, monospace;
    font-size: 1.1em;
    color: #fafafa;
    border-radius: 4px;
}
button {
    padding: 0.5em 1em;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s ease;
}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
button:hover:not(:disabled) {
    background-color: #2980b9;
}
